openapi: 3.0.3
info:
  title: EventsHub - API
  description: Welcome to the EventsHub API documentation. This API allows you to interact with
    the EventsHub platform, enabling you to manage events, attendees, and more. Below you will find
    detailed information on how to use the API endpoints, request formats, and response structures.
  version: 1.0.0
servers:
  - url: http://events-api.loc/v1/
    description: Local
tags:
  - name: Auth
    description: Operations about authorization
  - name: Organizer
    description: Operations about event organizer
  - name: Event
    description: Operations about event
  - name: Ticket
    description: Operations about ticket
  - name: Favourite Events
    description: Operation with favourite events
  - name: Category
    description: Operations about event category
  - name: Location
    description: Operations about event location
paths:
  /auth/login:
    post:
      tags:
        - Auth
      summary: Log in to the system
      description: This method allows to authorize to the system.
      requestBody:
        description: Pass email and user password data
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  description: User email
                  format: email
                password:
                  type: string
                  format: password
                  description: User password
                remember_me:
                  type: boolean
                  description: Specify whether to remember user data
                  default: false
        required: true
      responses:
        '200':
          $ref: '#/components/responses/AuthorizationResponse'
        '422':
          $ref: '#/components/responses/ValidationException'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /auth/logout:
    post:
      tags:
        - Auth
      summary: Logout from system
      description: This method allows you to log out of the system
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthenticated'
      security:
        - bearerAuth: [ ]

  /auth/register:
    post:
      tags:
        - Auth
      summary: Register new user
      description: This method allows you to register new user
      requestBody:
        $ref: '#/components/requestBodies/RegistrationRequest'
      responses:
        '200':
          $ref: '#/components/responses/AuthorizationResponse'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '422':
          $ref: '#/components/responses/ValidationException'

  /auth/password-reset/request:
    post:
      summary: Send email with password reset
      description: Receive the user's email for confirmation password reset.
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
      responses:
        '200':
          description: Email sent successfully
        '422':
          $ref: '#/components/responses/ValidationException'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /auth/password-reset/confirm:
    post:
      tags:
        - Auth
      summary: Confirm password reset with  new password
      description: Confirm the password reset by providing the new password, and update the password.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - new_password
                - new_password_confirmation
                - token
              properties:
                new_password:
                  type: string
                  format: password
                  example: "newSecurePassword123!"
                new_password_confirmation:
                  type: string
                  format: password
                  example: 'newSecurePassword123!'
                token:
                  type: string
                  example: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwia
                    WF0IjoxNTE2MjM5MDIyfQ.8gSrBOYsxwPmW0T1mt7oUkIX4xQuU8rR_La4TfFgF_E
      responses:
        '200':
          description: successful operation
        '422':
          $ref: '#/components/responses/ValidationException'

  /events:
    get:
      tags:
        - Event
      summary: List of events
      operationId: eventsList
      description: ''
      parameters:
        - name: page
          in: query
          description: The number of items to skip before starting to collect the result set
          schema:
            type: integer
            format: int64
            default: 1
        - name: per_page
          in: query
          description: The number of items to return.
          schema:
            type: integer
            format: int64
            default: 10
        - name: locations
          in: query
          description: Name of the event location
          required: false
          schema:
            type: array
            items:
              type: integer
        - name: is_online
          in: query
          description: Online or offline event. If this value is null or absent at all, then the result will be events that contain both formats
          required: false
          schema:
            type: boolean
            nullable: true
        - name: datetime_from
          in: query
          description: Date from which to display events
          required: false
          schema:
            type: integer
            format: datetime
        - name: datetime_to
          in: query
          description: Date up to which to display events
          required: false
          schema:
            type: integer
            format: datetime
        - name: organizer_id
          in: query
          description: Сompany id of the event organiser
          required: false
          schema:
            type: integer
        - name: categories
          in: query
          description: Categories of events. Provide the entire list of categories
          required: false
          schema:
            type: array
            items:
              type: integer
        - name: search
          in: query
          description: Pass a name or description to search for events
          required: false
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/EventsListResponse'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '422':
          $ref: '#/components/responses/ValidationException'

  /events/{id}:
    get:
      tags:
        - Event
      summary: Details about one event
      operationId: viewEvent
      description: ''
      parameters:
        - name: id
          in: path
          description: event identifier
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          $ref: '#/components/responses/EventResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationException'

  /events/{event}/registrations:
    post:
      tags:
        - Event
      summary: Register user for a free event
      description: This method allows a user to register for a free event.
      parameters:
        - name: event
          in: path
          required: true
          description: The event identifier
          schema:
            type: integer
      responses:
        '201':
          description: User successfully registered
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: User successfully registered for the event
                  registration_id:
                    type: integer
                    example: 1
        '401':
          $ref: '#/components/responses/Unauthenticated'
      security:
        - bearerAuth: []

  /users/favourite-events:
    get:
      summary: Get user's favourite events list
      description: Retrieves all events that the user has added to favourites.
      tags:
        - Favourite Events
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          $ref: '#/components/responses/FavouriteEvents'
        '401':
          $ref: '#/components/responses/Unauthenticated'
      security:
        - bearerAuth: []

  /events/{id}/favourite:
    post:
      summary: Add a new favourite event for the user
      description: Adds a new event to the user's favourites.
      tags:
        - Favourite Events
      parameters:
        - name: id
          in: path
          required: true
          description: The event identifier
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: The event was successfully added to the user's favourite events list
        '401':
          $ref: '#/components/responses/Unauthenticated'
      security:
        - bearerAuth: []

    delete:
      summary: Delete a user's favourite event
      description: Removes an event from the user's favourite events list.
      tags:
        - Favourite Events
      parameters:
        - name: id
          in: path
          required: true
          description: The event identifier
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: The event was successfully deleted
        '401':
          $ref: '#/components/responses/Unauthenticated'
      security:
        - bearerAuth: []

  /organizers:
    get:
      tags:
        - Organizer
      summary: List of organizers
      operationId: organizersList
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          $ref: '#/components/responses/Organizers'

  /organizers/{id}:
    get:
      tags:
        - Organizer
      summary: Details about event organizer
      operationId: viewOrganizer
      parameters:
        - name: id
          in: path
          description: organizer identifier
          required: true
          schema:
            type: integer
      responses:
        '200':
          $ref: '#/components/responses/Organizer'
        '404':
          $ref: '#/components/responses/NotFound'

  /categories:
    get:
      tags:
        - Category
      summary: List of categories
      operationId: categoriesList
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          $ref: '#/components/responses/Categories'

  /locations:
    get:
      tags:
        - Location
      summary: List of location
      operationId: locationList
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          $ref: '#/components/responses/Locations'

  /orders:
    post:
      tags:
        - Order
      summary: Create order with tickets
      description: This method allows a user to create an order with multiple tickets for an event.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - event_id
                - ticket_count
              properties:
                event_id:
                  type: integer
                  example: 1
                ticket_count:
                  type: integer
                  example: 2
      responses:
        '201':
          description: Order created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Order created successfully
                  order_id:
                    type: integer
                    example: 1
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '422':
          $ref: '#/components/responses/ValidationException'
      security:
        - bearerAuth: []

components:
  parameters:
    Page:
      name: page
      in: query
      description: Number of the requested page
      schema:
        type: integer
        default: 1
    PerPage:
      name: per_page
      in: query
      description: Number of items per page
      schema:
        type: integer
        default: 10

  responses:
    AuthorizationResponse:
      description: Authorization token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Token'
    UserResponse:
      description: Information about user
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                $ref: '#/components/schemas/User'

    EventsListResponse:
      description: List of events with pagination
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/List'
              - type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'

    EventResponse:
      description: Information about a single event
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                $ref: '#/components/schemas/Event'

    Unauthenticated:
      description: Unauthenticated
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Unauthenticated'

    ValidationException:
      description: Validation error response
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: The field_name is required. (and 1 more error).
              errors:
                type: object
                properties:
                  field_name:
                    type: array
                    items:
                      type: string
                    description: Error for field
                    example: [ "The field_name is required.", "The field_name must be a string."]
                  field_name2:
                    type: array
                    items:
                      type: string
                    description: Error for field 2
                    example: [ "The field_name2 must be a string." ]
    TooManyRequests:
      description: Too Many Requests
      content:
        application/json:
          schema:
            type: object
            title: TooManyRequests
            description: too many requests error
            properties:
              message:
                type: string
                example: Too Many Attempts.
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            title: NotFound
            description: Not found error
            properties:
              message:
                type: string
                example: Not Found
    NoContent:
      description: No Contents
    Organizer:
      description: Information about event organizer
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                $ref: '#/components/schemas/Organizer'
    FavouriteEvents:
      description: List of favourite events
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/List'
              - type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EventWithFavourite'
    Organizers:
      description: List of organizers
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/List'
              - type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Organizer'
    Categories:
      description: List of categories
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/List'
              - type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'
    Locations:
      description: List of locations
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/List'
              - type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Location'

  schemas:
    Unauthenticated:
      type: object
      title: Unauthenticated
      description: Unauthenticated exception.
      properties:
        message:
          description: Message text
          type: string
          example: Unauthenticated
    List:
      type: object
      properties:
        current_page:
          type: integer
          description: Current page
          example: 1
        per_page:
          type: integer
          description: Items per page
          example: 15
        last_page:
          type: integer
          description: Last page
          example: 4
        total:
          type: integer
          description: Total
          example: 50
        from:
          type: integer
          description: From
          example: 1
        to:
          type: integer
          description: To
          example: 15
        links:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
                nullable: true
              label:
                type: string
              active:
                type: boolean

    Token:
      type: object
      properties:
        token:
          type: string
          description: Bearer token for Authorization
          example: NmY4ZDQ0NzMtNzM2NC00ZGRkLTk3MTUtYTI5MzU1NTViZTEyMDRhNWE2NzUtN2Fl

    Event:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 100000
        title:
          type: string
          example: 'FAINE MISTO: THE LAND OF FUTURE LEGENDS'
        description:
          type: string
          example: Faine Misto is a legendary festival...
        author:
          $ref: '#/components/schemas/User'
        organizer:
          $ref: '#/components/schemas/Organizer'
        datetime_from:
          type: integer
          format: datetime
          example: 1720542234
        datetime_to:
          type: integer
          format: datetime
          example: 1720642787
        location:
          $ref: '#/components/schemas/Location'
        category:
          $ref: '#/components/schemas/Category'
        is_online:
          type: boolean
          example: true
        price:
          type: string
          example: "125.00"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    EventWithFavourite:
      allOf:
        - $ref: '#/components/schemas/Event'
        - type: object
          properties:
            is_favourite:
              type: boolean
              example: true

    User:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 10
        first_name:
          type: string
          example: John
        last_name:
          type: string
          example: James
        email:
          type: string
          example: john@email.com
        phone:
          type: string
          example: '12345'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Organizer:
      type: object
      properties:
        id:
          type: integer
          example: 10
        title:
          type: string
          example: "Event organizer name"
        description:
          type: string
          example: "Event organizer description"
        image:
          type: string
          example: "https://events-api.com/image.jpg"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Category:
      type: object
      properties:
        id:
          type: integer
          example: 10
        name:
          type: string
          example: "Category name"
        order:
          type: integer
          example: 1
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Location:
      type: object
      properties:
        id:
          type: integer
          example: 23
        name:
          type: string
          example: "Location name"
        address:
          type: string
          example: "Street: 123 Main Street, City: Springfield, House: 456"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

  requestBodies:
    RegistrationRequest:
      description: User registration data
      content:
        application/json:
          schema:
            type: object
            required:
              - first_name
              - last_name
              - email
              - password
              - password_confirmation
            properties:
              first_name:
                type: string
                example: John
              last_name:
                type: string
                example: James
              email:
                type: string
                format: email
                example: john@email.com
              password:
                type: string
                format: password
                example: '12345678'
              password_confirmation:
                type: string
                format: password
                example: '12345678'
              phone:
                type: string
                example: '12345'

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
